@font-face {
  font-family: 'Garet-Book';
  src: url('Font/Garet-book.ttf') format('truetype'),
    url('Font/Garet-book.woff') format('woff'),
    url('Font/Garet-book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Garet-Book';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #640000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

header h2 {
    color: #dbdbdb;
}

.headshot {
    vertical-align: top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1rem solid #8b0000;
    background-color: #ADD8E6;
    background-image: url('Media/Headshot.JPG');
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    float: right;
    margin: 15px 2.5% 15px 1.5in;
}

#about {
    min-height: 250px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: #fff;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.collumn {
    flex: 1 1 150px;
    max-width: 250px;
    min-width: 120px;
}
.collumn h3 {
    font-size: 1.5rem;
}
.collumn li {
    background-color: #fff;
    padding: 0.8rem;
    margin: 0.6rem 0;
    border-radius: 25% 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 180px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.9rem;
}
.collumn li img {
    display: block;
    margin: 0 auto 1rem;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 10%;
}
.collumn li p {
    text-align: center;
    font-weight: normal;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

#featured-projects {
    background-color: black; 
    color: white; 
    padding: 20px;
    text-align: center;
}

#projects {
    background-color: darkgray; 
    color: white; 
    padding: 20px;
    text-align: center;
}

.Fprojects {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;
}

.Fproject{
    background-color: #f8f8f8; 
    padding: 20px; 
    margin: 10px; 
    border-radius: 10px; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 300px;
    max-width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.Fproject h3 {
    color: #000000;
    font-size: x-large;
}

.Fproject p {
    padding: 10px 0;
    color: #222;
    border-radius: 6px;
}

.Fproject img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul img{
    width: 80%;
}

.Fproject:hover {
    background-color: #dbdbdb;
}


h2 {
    color: #640000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu.active {
    display: flex;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-position: outside;
    padding: 0;
    text-align: center;
}

ul li {
    display: grid;
    width: 100%;
}

.project {
    margin-bottom: 1rem;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.contact-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #ffffff;
}

details {
    background-color: #a0a0a0;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    color: white;
    outline: none
}

.youtube-embed-container {
    position: relative;
    width: 100%;
    padding-bottom: 51%;
    height: 0;
    overflow: hidden;
}

.contact-info ul {
    align-items: center;
    justify-content: center;
    text-align: left;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
}

.contact-info ul li p {
    display: inline;
    margin-left: 5%;
    width: 3.5in;
    text-align: left;
}

.Assets ul li ul{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.Assets img{
    align-self: center;
    justify-self: center;
}